

/* ********** MENU BAR  ************ */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;

}

.page_title {

    font-size: 5em;
}

.dropdown {
    /* display:block; */
    position: relative;
    display: inline-block;
    
}

.dropbtn {
    background-color: rgba(165, 97, 42, 0);
    font-size: 3em;
    border: 1px;
}

.dropbtn:hover {
    color: antiquewhite;
}


.dropdown-content {
display: none;

position: absolute;
padding: 20px 20px 20px 400px;
border: 2px solid;
border-color: rgba(112, 128, 144, 0.288);
margin: 0px;
height: 1100px;

right: 0;
background-color: antiquewhite;
z-index: 1;
} 
  
.dropdown-content a {
color: black;
padding: 20px 20px 20px 20px;
text-decoration: none;
display: block;
font-size: 5em;
} 

.dropdown-content a:nth-child(1) {
    padding: 100px 10px 50px 10px;
    border-bottom: 2px solid;
    border-color: slategray;
}

.dropdown-content a:nth-child(2) {
    padding: 50px 10px 10px 10px;
}

.dropdown-content a:nth-child(3) {
    padding: 200px 10px 10px 10px;
}


.dropdown:hover .dropdown-content {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: antiquewhite;


}


/* ********** BODY *********** */
body {
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;

}

main {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    border-radius: 3px;
    border-color: slategray;
    height: 1000px;

}


.form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid;
    border-radius: 5px;
    border-color: slategray;
    text-align: center;
    height: 50px;
    width: 400px;
}

.form > h3 {
    font-size: 26px;
}

.search-bar {
    height: 40px;
}

.text-box {
    height: 40px;
}

.button {
    height: 30px;
    border-radius: 4px;
    background-color: lightgray;
    font-size: 1em;
}

.button:hover {
    background-color: antiquewhite;
    border-color: white;
}


/* *************** CARD *********** */
.outerbox {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid;
    border-color: slategray;
    height: 420px;
    width: 300px;
    margin: 10px;
    border-radius: 0.25em;
}

.imagebox {
    background-color: rgba(112, 128, 144, 0.479);
    justify-content: center;
    border: 2px solid;
    border-color: slategray;

    height: 210px;
    width: 280px;
    margin: 5px;
    border-radius: 0.15em;
}

.title {
    background-color: None;
    border-bottom: 1px solid;
    border-color: slategray;
    color: black;
    text-align: left;
    text-decoration: none;
    height: 40px;
    width: 280px;

}

.card-title {
    padding: 0px;
}

.recipe-textbox {
    background-color: None;
    border-bottom: 1px solid;
    border-color: slategray;

    color: black;
    text-align: left;
    justify-content: center; 
    height: 140px;
    width: 280px;
    margin: 5px;
    
}


.ingredients-textbox {
    background-color: None;

    color: black;
    text-align: left;
    justify-content: center; 
    height: 140px;
    width: 280px;
    margin: 5px;
    
}